::ng-deep .costom-badge .mat-badge-content {
  background-color: #1976d2; // primary blue
  color: white;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 0.75rem;
  border-radius: 9999px; // full round
  display: flex;
  align-items: center;
  justify-content: center;
}



a{
  &.active {
    font-weight: bold;
    color: #7000fa;
  }
}
